header,nav,a,div,img,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

div h1 p{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a:hover{
    text-decoration: underline;
}
div a h5{
    padding-left: 30%;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div p{
 font-size: 20px;
}

